.ghostButton {
    background: none;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #E1E1E1;
    font-size: 16px;
    text-align: center;
    transition: transform 0.2s ease-out;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.ghostButton:hover {
    background-color: #27272a;
}

.ghostButton:active {
    transform: scale(0.98);
}
