body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

#textfield {
    margin: 5px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #121212;
    border: 1px solid #272727;
    border-radius: 5px;
    font-size: 16px;
    color: #a1a1a9;
    width: 80%;
    caret-color: #E1E1E1; 
    transition: border-color 0.4s ease;
    box-sizing: border-box;
}

#textfield:active,#textfield:focus {
    border-width: 1px;
    border-color: #E1E1E1;
    outline: none;
}

#textfield::placeholder {
    color: #999;
}
