.linkButton {
    color: #E1E1E1;
    font-size: 16px;
    text-decoration: none;
    padding: 5px 0px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    position: relative; 
    margin: 5px;
    transition: transform 0.2s ease-out;
    transition: background-color 0.3s ease;
}

.linkButton:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #E1E1E1;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.linkButton:hover:after {
    opacity: 1;
}
.linkButton:active {
    transform: scale(0.98);
}
