body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.primaryButton{
    background-color: #E1E1E1 ;
    border: none;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #27272a;
    transition: transform 0.2s ease-out;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.primaryButton:hover {
    background-color: #e2e2e3;
    opacity: 0.87;
}

.primaryButton:active {
    transform: scale(0.98);
}
