body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}

.secondaryButton{
    background-color: #27272a;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: #E1E1E1;
    font-size: 16px; /* Adjust as needed */
    text-align: center;
    transition: transform 0.2s ease;
    transition: background-color 0.3s ease;
    margin: 5px;
}
.secondaryButton:hover {
    background-color: #212124;
}

.secondaryButton:active {
    transform: scale(0.98);
}
